@import 'variables.scss';

.banner {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center/cover url('../assets/images/index/banner.png') no-repeat;
}

.title {
  display: flex;
  align-items: center;
  font-size: 96px;
  color: white;
  font-family: $font-family-serif;

  &-infix {
    margin: 0 60px;
    font-size: 32px;
  }
}

.search-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.search-btn {
  padding: 0.75rem 1.5rem !important;

  nb-icon {
    width: 25px;
    height: 25px;
  }
}
