<nb-layout>
  <nb-layout-column>
    <div class="banner">
      <h2 class="title">台<span class="title-infix">TAINAN</span>南</h2>
    </div>
    <div class="container position-relative">
      <div class="search-bar d-flex justify-content-center">
        <div class="row">
          <div class="col">
            <nb-select placeholder="Select Showcase" selected="0">
              <nb-option value="">Option empty</nb-option>
              <nb-option value="0">Option 0</nb-option>
            </nb-select>
          </div>
          <div class="col">
            <nb-select placeholder="Select Showcase" selected="0">
              <nb-option value="">Option empty</nb-option>
              <nb-option value="0">Option 0</nb-option>
            </nb-select>
          </div>
          <div class="col">
            <nb-select placeholder="Select Showcase" selected="0">
              <nb-option value="">Option empty</nb-option>
              <nb-option value="0">Option 0</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
