<nb-layout>
  <nb-layout-column>
    <div class="banner">
      <h2 class="title">台<span class="title-infix">TAINAN</span>南</h2>
    </div>
    <div class="container position-relative">
      <div class="search-bar d-flex justify-content-center">
        <div class="row">
          <div class="col">
            <nb-select placeholder="Select Showcase" [selected]="cities[0][0]" shape="round">
              <nb-option *ngFor="let city of cities" [value]="city[0]">{{ city[1] }}</nb-option>
            </nb-select>
          </div>
          <div class="col">
            <nb-select placeholder="Select Showcase" selected="0" shape="round">
              <nb-option *ngFor="let type of tourismTypeCn | keyvalue" [value]="type.key">{{
                type.value
              }}</nb-option>
            </nb-select>
          </div>
          <div class="col">
            <button nbButton shape="round" status="primary" class="search-btn">
              <nb-icon icon="search" pack="app"></nb-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>
</nb-layout>
